rules_version = '2';

// Craft rules based on data in your Firestore database
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to upload files to their own folder
    match /cars/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to upload profile images
    match /profile/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to read all car images
    match /cars/{allPaths=**} {
      allow read: if request.auth != null;
    }
    
    // Allow authenticated users to read profile images
    match /profile/{allPaths=**} {
      allow read: if request.auth != null;
    }
    
    // Allow admins to upload and manage package images
    match /packages/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
